<nav class="navbar">
    <ul class="nav-list">
      <li><a routerLink="/home">Home</a></li>
      <li><a *ngIf="isUserLoggedIn && !isAdminLoggedIn" routerLink="/exam">Exams</a></li>
      <li><a *ngIf="isUserLoggedIn && !isAdminLoggedIn" routerLink="/score">Scores</a></li>
      <li><a *ngIf="isAdminLoggedIn && !isUserLoggedIn" routerLink="/admindashboard">Admin Dashboard</a></li>
      <li><a *ngIf="isUserLoggedIn || isAdminLoggedIn" routerLink="/logout" (click)="handleLogout()">Logout</a></li>
      <li><a *ngIf="!isUserLoggedIn && !isAdminLoggedIn" routerLink="/aboutus">About Us</a></li>

    </ul>
  </nav>
   

