<div class="container">
    <!-- Top Navigation -->
    
        <h1> Available Exams</h1>
        <p>Please select any one of them.</p>
    


<section class="color-1">
    <nav class="cl-effect-20">
        <div class="column">
        <a routerLink="/java"><span data-hover="Java">Java</span></a>
        <a routerLink="/sql"><span data-hover="SQL">SQL</span></a>
        <a routerLink="/python"><span data-hover="Python">Python</span></a>
    </div>
   
    <div class="column">
        <a routerLink="/php"><span data-hover="PHP">PHP</span></a>
        <a routerLink="/javascipt"><span data-hover="JavaScript">JavaScript</span></a>
        <a routerLink="/c"><span data-hover="C/C++">C/C++</span></a>
    </div>
    </nav>
</section>

</div>

