<section class="hero" id="home">
    <div class="hero-content">
    <h2>Welcome to Exam Portal</h2>
    <p>Your all-in-one solution for secure and efficient online exams.</p>
    <div class="buttons">
    <a *ngIf="!isUserLoggedIn && !isAdminLoggedIn"  routerLink="/login" class="button">Login 🗝️</a>
    <a *ngIf="!isUserLoggedIn && !isAdminLoggedIn" routerLink="/register" class="button">Register ➡️</a>
    <a *ngIf="!isUserLoggedIn && !isAdminLoggedIn" routerLink="/adminlogin" class="button">Login as admin 🔰</a>
    </div>
    </div>
    </section>
    <section id="features">
    <h2>Why Choose Our Exam Portal?</h2>
    <ul>
    <li><strong>Secure Assessments:</strong> Advanced tools to ensure test integrity.</li>
    <li><strong>User-Friendly Interface:</strong> Easy navigation for all users.</li>
    <li><strong>Customizable Exams:</strong> Tailored quizzes, exams, and assignments.</li>
    <li><strong>Real-Time Monitoring:</strong> Proctoring solutions for live exams.</li>
    <li><strong>Instant Results:</strong> Get detailed analytics immediately.</li>
    </ul>
    </section>
    <section id="about">
    <h2>About Exam Portal</h2>
    <p id="about-para">
               We aim to revolutionize the way online exams are conducted. Our platform simplifies assessments
               for schools, universities, and training centers with cutting-edge technology and a commitment to excellence.
    </p>
    </section>
    <section id="cta">
    <h2>Get Started Today!</h2>
    <p>Join thousands of educators and students using Exam Portal to simplify their examination process.</p>
    <a routerLink="/contactpage" class="cssbuttons-io-button">Contact Us   <div class="icon">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div> </a>
    </section>


