.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 300px;
    
}

.col-md-12 {
	display: grid;
    gap: 40px; /* Space between buttons */
	justify-content: space-between;  
  }

.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #a8dadc;
  box-shadow: #407393 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.4rem;
    padding: .75rem 2rem;
  }
}